.faq-section {
  padding-top: 80px;

  @include media(desktop) {
    padding-top: 150px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
  }
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 335px;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 846px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  border: 1px solid #b2e0d5;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-btn-text {
  background: #b2e0d5;
  border-radius: 20px;
  padding: 12px 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #1e1e1e;
  text-align: left;
  width: 100%;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-bottom-text {
  border-radius: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1e1e1e;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    max-width: 792px;
    margin-left: auto;
  }
}

.is-visible {
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-bottom-text {
  border: 1px solid #b2e0d5;
  padding: 11px 17px;
}
