.footer {
  background: #ff7a45;
  padding-top: 34px;
  padding-bottom: 34px;

  @include media(desktop) {
    padding-top: 46px;
    padding-bottom: 46px;
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-nav {
  margin-bottom: 18px;

  @include media(desktop) {
    margin-bottom: 50px;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
  }
}

.footer-link {
  display: flex;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  background: radial-gradient(
    79.77% 79.77% at 8.61% 20.23%,
    rgb(44, 36, 33) 0%,
    rgb(33, 36, 42) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }

  &:hover,
  &:focus {
  }
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  background: radial-gradient(
    79.77% 79.77% at 8.61% 20.23%,
    rgb(44, 36, 33) 0%,
    rgb(33, 36, 42) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media(desktop) {
    text-align: center;
  }
}
