.gallery-section {
  @include media(desktop) {
  }
}

.gallery-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 150px;
    max-width: 1440px;
  }
}

.gallery-container {
  padding: 0;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.gallery-title {
  @include media(desktop) {
  }
}

.gallery-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include media(desktop) {
    gap: 18px;
  }
}

.gallery-list-item {
  @include media(desktop) {
  }
}

.gallery-img {
  @include media(desktop) {
  }
}
