.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 150px;
    max-width: 1440px;
  }
}

.gameplay-container {
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-swiper-container {
  max-width: 197px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gameplay-swiper-container.show {
  visibility: visible;
}

.gameplay-swiper-wrapper {
  @include media(desktop) {
  }
}

.gameplay-slide {
  box-shadow: inset -8px 1px 30px 0 rgba(98, 154, 214, 0.6);
  background: #000103;
  border-radius: 40px;
  padding: 8px;
  width: 100%;
  max-width: 197px;
  min-height: 180px;
  display: flex !important;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #e6e9ef;

  @include media(desktop) {
  }
}
