.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 246px;
  padding-bottom: 309px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 199px;
    padding-bottom: 203px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: max-content;
  }
}

.hero-title-img {
  @include media(desktop) {
  }
}
