.context-menu {
  background: radial-gradient(
    79.77% 79.77% at 8.61% 20.23%,
    #2c2421 0%,
    #21242a 100%
  );
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: none;
  z-index: 5;
}

.context-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

.context-list-item {
}

.context-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e9e9e9;
  transition:
    color 0.3s ease-in-out,
    background 0.3s ease-in-out;

  &:active {
    color: #ff7a45;
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
