.reviews-section {
  @include media(desktop) {
  }
}

.reviews-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 150px;
    max-width: 1440px;
  }
}

.reviews-container {
}

.reviews-title {
  @include media(desktop) {
  }
}

.reviews-swiper-container {
  max-width: 305px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.reviews-swiper-container.show {
  visibility: visible;
}

.reviews-swiper-wrapper {
  @include media(desktop) {
  }
}

.reviews-slide {
  box-shadow: inset -8px 1px 30px 0 rgba(98, 154, 214, 0.6);
  background: #000103;
  border-radius: 40px;
  padding: 28px 22px;
  width: 100%;
  max-width: 305px;
  min-height: 252px;

  @include media(desktop) {
  }
}

.reviews-img-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;

  @include media(desktop) {
  }
}

.reviews-img {
  min-width: 72px;

  @include media(desktop) {
  }
}

.reviews-item-name {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 700;
  font-size: 20px;
  background: linear-gradient(0deg, #9fe2f8 0%, #a78bfa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media(desktop) {
  }
}

.reviews-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e6e9ef;

  @include media(desktop) {
  }
}
