<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">About</h2>
      <div class="about-content-wrapper">
        <picture>
          <source
            srcset="./img/about/about-img-mob.png"
            media="(min-width: 1440px)"
            width="275"
            height="275" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="174"
            height="174" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="174"
            height="174"
            loading="lazy"
        /></picture>
        <p class="about-text">
          This game isn’t about reflexes or competition.<br />
          <span class="about-text-span">Insight Path</span> is designed
          as a quiet experience where players engage with puzzles that feel more
          like reflections than challenges.<br />
          Choices are subtle but meaningful. Sometimes progress comes from
          moving forward — sometimes from stopping, turning back, or simply
          paying attention to what changed. The game respects the player’s pace
          and allows space for interpretation.
        </p>
      </div>
    </div>
  </div>
</section>
