<section class="section benefits-section" id="benefits">
  <div class="benefits-bg-wrapper">
    <div class="container benefits-container">
      <h2 class="section-title benefits-title">Benefits</h2>
      <ul class="benefits-list">
        <li class="benefits-list-item">
          <p class="benefits-item-number">01</p>
          <p class="benefits-item-text">
            Calm, low-pressure gameplay with no failure states
          </p>
          <img
            class="benefits-img"
            src="./img/benefits/benefits-connector.png"
            alt="Screenshot of the game"
            width="12"
            height="100"
          />
        </li>
        <li class="benefits-list-item">
          <p class="benefits-item-number">02</p>
          <p class="benefits-item-text">
            Makes you actually think about your choices instead of just clicking
            through
          </p>
          <img
            class="benefits-img"
            src="./img/benefits/benefits-connector.png"
            alt="Screenshot of the game"
            width="12"
            height="100"
          />
        </li>
        <li class="benefits-list-item">
          <p class="benefits-item-number">03</p>
          <p class="benefits-item-text">
            Suitable for short sessions or longer immersive play
          </p>
          <img
            class="benefits-img"
            src="./img/benefits/benefits-connector.png"
            alt="Screenshot of the game"
            width="12"
            height="100"
          />
        </li>
        <li class="benefits-list-item">
          <p class="benefits-item-number">04</p>
          <p class="benefits-item-text">
            The audio really helps you get into the right headspace
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
