<section class="features-section section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">Features</h2>
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img1.png"
              alt="Screenshot of the game"
              width="305"
              height="305"
              loading="lazy"
            />
            <p class="features-item-text">
              Strategic brand-building gameplay with creative freedom
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img2.png"
              alt="Screenshot of the game"
              width="305"
              height="305"
              loading="lazy"
            />
            <p class="features-item-text">
              The markets actually react to what you do - none of that random
              nonsense
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img3.png"
              alt="Screenshot of the game"
              width="305"
              height="305"
              loading="lazy"
            />
            <p class="features-item-text">
              You'll see what's happening without drowning in charts and data
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img4.png"
              alt="Screenshot of the game"
              width="305"
              height="305"
              loading="lazy"
            />
            <p class="features-item-text">
              No rush - the good stuff happens when you stick with it
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img5.png"
              alt="Screenshot of the game"
              width="305"
              height="305"
              loading="lazy"
            />
            <p class="features-item-text">
              Designed for short sessions and extended play alike
            </p>
          </li>
        </ul>
      </div>
      <div class="controls features-controls">
        <button
          class="arrow-btn"
          id="featuresLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="22" height="22">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="featuresRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="22" height="22">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
