<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">How to Play</h2>
      <div class="gameplay-content-wrapper">
        <div class="gameplay-top-wrapper">
          <div class="gameplay-text-wrapper">
            <p class="gameplay-text">
              Choose an industry and define your brand identity
            </p>
          </div>
          <div class="gameplay-text-wrapper">
            <p class="gameplay-text">
              Gradually unlock new regions, tools, and strategies
            </p>
          </div>
        </div>
        <div class="gameplay-middle-wrapper">
          <div class="gameplay-text-wrapper">
            <p class="gameplay-text">
              Launch campaigns and observe audience reactions
            </p>
          </div>
          <div class="gameplay-text-wrapper">
            <p class="gameplay-text">
              Adapt to market trends and unexpected events
            </p>
          </div>
        </div>
        <div class="gameplay-text-wrapper gameplay-bottom-text-wrapper">
          <p class="gameplay-text">
            Launch campaigns and observe audience reactions
          </p>
        </div>

        <img
          class="gameplay-img"
          src="./img/gameplay/gameplay-img.png"
          alt="Screenshot of the game"
          width="414"
          height="217"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
