<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-title-desk.png"
            media="(min-width: 1440px)"
            width="535"
            height="391" />
          <source
            srcset="./img/hero/hero-title-mob.png"
            width="335"
            height="245" />
          <img
            class="hero-title-img"
            src="./img/hero/hero-title-mob.png"
            alt="Title"
            width="335"
            height="245"
        /></picture>
      </div>
    </div>
  </div>
</section>
