<section class="reviews-section section" id="reviews">
  <div class="reviews-bg-wrapper">
    <div class="container reviews-container">
      <h2 class="section-title reviews-title">Reviews</h2>
      <div class="reviews-swiper-container">
        <ul class="swiper-wrapper reviews-swiper-wrapper">
          <li class="swiper-slide reviews-slide">
            <div class="reviews-img-wrapper">
              <img
                class="reviews-img"
                src="./img/reviews/reviews-img1.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <p class="reviews-item-name">Alex Turner:</p>
            </div>
            <p class="reviews-item-text">
              “It feels less like playing a game and more like wandering through
              your own thoughts — in a good way”.
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-img-wrapper">
              <img
                class="reviews-img"
                src="./img/reviews/reviews-img2.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <p class="reviews-item-name">Mia Chen:</p>
            </div>
            <p class="reviews-item-text">
              “I didn’t expect a puzzle game to make me pause and reflect, but
              this one quietly does.”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-img-wrapper">
              <img
                class="reviews-img"
                src="./img/reviews/reviews-img3.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <p class="reviews-item-name">NocturnalPixel:</p>
            </div>
            <p class="reviews-item-text">
              “The moment when the paths shift because of something you chose
              earlier… that hit differently.”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-img-wrapper">
              <img
                class="reviews-img"
                src="./img/reviews/reviews-img4.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <p class="reviews-item-name">Daniel Rossi:</p>
            </div>
            <p class="reviews-item-text">
              “No pressure, no noise — just space to think. That’s rare.”
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
